# EditorConfig is awesome: https://EditorConfig.org

root = true

[*]
indent_style = space
indent_size = 2
end_of_line = lf # To allow compiling code on CI.
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[tests/**.ts]
trim_trailing_whitespace = false # Some spaces need to stay.
